---
layout: default
title: Статистика наперекосяк
group: menu
---
<h2>СТАТИСТИКА НАПЕРЕКОСЯК</h2>

<p>Ця серія статей створена Алексом Рейнхартом та перекладена мною.
Оригінал знаходиться на сайті <a href="http://statisticsdonewrong.com">www.statisticsdonewrong.com</a></p>

<p>Щодо авторського права: матеріал поширюється згідно ліцензії <a href="http://creativecommons.org/licenses/by/3.0/">"Creative Commons Attribution 3.0 Unported License" </a>. Кожен має право друкувати його, копіювати його, перекладати його, переписувати його, класти його на музику, оголошувати його публічно чи написати на заборі, чи що ще прийде в голову – за умови, що оригінал буде приписано Алексу Рейнхарту і забезпечене посилання на сайт <a href="http://statisticsdonewrong.com">www.statisticsdonewrong.com</a>. Відвідайте посилання у назві ліцензії, щоб дізнатись деталі.</p>

{% for post in site.posts %}
 {% if post.categories contains 'donewrong' %}
<div id="headblock"><h1 id="post.title"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h1>
<!--<p><em>{{post.author}}</em>, {{ post.date | date_to_short_string }}</p>-->
</div>
 {% endif %}
    {% endfor %}
</ul>
 
<!--<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = '{{ site.JB.comments.disqus.short_name }}'; // required: replace example with your forum shortname
    var disqus_identifier = '{{ post.url }}';
    var disqus_url = '{{ site.production_url }}{{ post.url }}';
    {% if page.wordpress_id %}var disqus_identifier = '{{page.wordpress_id}} {{site.production_url}}/?p={{page.wordpress_id}}';{% endif %}
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

-->


<!--<div class="noprint" id="previous-posts"><hr />
<h1>Previous Posts</h1>
{% for post in site.posts limit:5 offset:5 %}
<ul>
<li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
</ul>
{% endfor %} </div>-->
