<div id="headblock" itemscope itemtype="http://data-vocabulary.org/Article">
<h1 id="page.title"><a href="{{ BASE_PATH }}{{ page.url }}"><span itemprop="headline">{{ page.title }}</span></a></h1>
<p><em><a href="https://plus.google.com/101355702539843315859?rel=author"><span itemprop="author">{{page.author}}</span></a></em>, <span itemprop="dateCreated">{{ page.date | date: "%d.%m.%Y"}}</p>
<hr />
</div>
<div class="contenttext"><p><span itemprop="articleBody">{{page.content | markdownify}}</span></p></div>
<ul class="tags">
  
    <li><strong>Ключові слова: </strong></li>
    {% for tag in page.tags %}
    <li><a href="{{BASE_URL}}/tags.html#{{tag}}-ref"><span itemprop="articleSection">{{ tag }}</span></a></li>
    {% endfor %}  
</ul>
{% include JB/comments %}

<div class="noprint" id="previous-posts"><hr />
<p>{% if page.previous %} <strong>Попередня стаття</strong>: <a href="{{ BASE_PATH }}{{ page.previous.url }}">{{ page.previous.title }}</a> {% endif %}</p>
<p>{% if page.next %} <strong>Наступна стаття</strong>: <a href="{{ BASE_PATH }}{{ page.next.url }}">{{ page.next.title }}</a> {% endif %}</p></div>

